# vscode
.vscode/

# c
*.o
*.exe
*.out

# java
*.class
java_programming/networking/url.html
java_programming/webscraping/searchPageSource.html
java_programming/javafx/

# python
__pycache__/
Include/
Lib/
Scripts/
share/
pyvenv.cfg

test.*
